*~

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
/Calypso/packages
/DryadLinqTests/packages
